body{
    margin: 0;
}
.banner {
    background-image: url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    min-height: 700px;
    width: 88%;
    margin: 0px auto;
    background-position: center;
    border-radius: 16px;
    /* background: linear-gradient( 180deg, rgba(43, 13, 13, 0.05), #01000000); */
}


.banner-content {
    text-align: center;
    padding-top: 180px;
    font-family: Merriweather;

}

.banner-content-1 {
    font-size: 32px;
    color: white;
    font-weight: 400;
    padding-bottom: 10px;
}

.banner-content-2 {
    font-size: 60px;
    color: rgb(255, 255, 255);
    font-weight: 900;
    padding-top: 0;
}

.con1-1 {
    text-align: center;
    text-transform: uppercase;
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-top: 70px;
    margin-bottom: 40px;

}

.con1-2 {
    text-align: center;
    color: red;
    margin-top: 0;
    margin-bottom: 0px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.con1-3 {
    text-align: center;
    color: #070211;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 48px;
    font-family: Inter;
    font-weight: 700;
}

.con1-4 {
    display: flex;
    justify-content: center;
    margin-top: 40px;

}

.section {
    background-image: url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    /* background:  linear-gradient(#070211 0%, rgba(7, 2, 17, 0.00) 100%); */

}

.section-head {
    margin-left: 200px;
    margin-top: 200px;


}

.sec-1 {
    font-size: 64px;
    color: white;
    font-weight: 900;
    margin-bottom: 20px;
    font-family: Merriweather;
}

.sec-2 {
    color: white;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-top: 0;
}

.sec-btn {
    direction: none;
    background: none;
    color: white;
    font-family: inter;
    border-style: none;

}

.pic70 {
    width: 350px;
    height: 450px;
    padding: 80px 150px 30px;
}

.back-sec {
    background-color: rgb(232, 225, 216);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    width: 88%;
    margin: 120px auto;
    height: 250px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    border-radius: 10px;
    background: linear-gradient(rgba(255, 0, 0, 0.05), #f7f5f500);

}

.back-sec1 {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 20px;
    line-height: 10px;

}

.colo {
    color: #F00;
    font-family: Inter;
}


.btn-sec {
    background-color: #F00;
    color: white;
    padding: 10px 22px;
    border: 0;
    border-radius: 10px;

}

.rec1-1 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    margin-bottom: 0;
}

.rec1-2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 15px;
    margin-bottom: 0;
}

.rec1-3 {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 15px;
}



.recorces {
    display: flex;
    width: 1320px;
    height: 500px;
    padding-top: 0px;
    margin: 120px auto;
    justify-content: space-between;
}

.recorces2 {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    border: 10px solid red;
    padding: 15px;



}

.recorces3-last {
    /* padding-top: 40px; */
    /* padding-bottom: 0; */

}

.rec3-1 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 0;
}

.rec3-2 {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 7px;
}


.gift {
    width: 88%;
    margin: 120px auto;
    background-image: url('../resources/Rectangle\ 2.png'), url('../resources/Rectangle\ 1.png');
    background-position: bottom, right;
    background-repeat: no-repeat, no-repeat;
    justify-content: baseline;
}

.gift1 {
    text-align: center;
    padding-top: 0px;
}

.gifth3 {
    color: #000000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0;

}

.gifth1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 38px;
    font-style: normal;
    font-weight: 900;
    margin-top: 10px;

}

.holi {
    color: #F00;
}

.dis-1 {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.gift2 {
    display: flex;
    justify-content: space-between;
}

.gift2-1 {
    width: 50%;
    padding-top: 10px;
}

.gift2-2 {
    padding-top: 80px;
    padding-right: 280px;
}

.portfolio {
    width: 1320px;
    margin: 120px auto;
    gap: 24px;
}

.sub-title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;

}

.title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0;
}

.dis-2 {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.port-dis {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 10px;

}

.port-img {
    border-radius: 20px;
    width: auto;
    height: auto;


}

.img-port {
    grid: 24px;
    padding: 6px;
}

.sec-last {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    width: 88%;
    height: 500px;
    margin: 120px auto;
    text-align: center;
}

.sec-last-1 {
    padding-top: 60px;
}

.sub-new {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 0;
}

.dis-3 {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.btn-sub {
    display: flex;
    margin: 30px 500px;
}

.int-btn {
    border-radius: 20px 0 0 20px;
    padding: 20px 60px 20px 20px;
    size: 30px;
    border: 0;
    margin-right: 0;
}

.btn-last {
    border-radius: 0 20px 20px 0;
    padding: 20px;
    color: white;
    font-size: inter;
    font-size: 20px;
    padding: 20px 30px;
    background-color: #F00;
    border: 0;
    margin-left: 0;
}

/* footer section */
.footer {
    background-color: #070211;
    width: 100%;
    height: 600px;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
}

.footer-1 {
    display: flex;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    justify-content: space-between;
    width: 88%;
    margin: 100px auto;
    padding-top: 100px;

}

.footer-2 {
    text-align: center;

}

.hr1 {
    width: 88%;
    height: 1px;
    border: 0 solid;
    padding: 0 auto;
    background: rgba(255, 255, 255, 0.15);
}

.footer-3 {
    display: flex;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    justify-content: space-between;
    /* margin: 120px; */
    margin: 0 120px;
}

.btn-foot {
    border: 0;
    background-color: #070211;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
}